.pagination {
  width: 320px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 24px;
}
.pageLinkClassName {
  cursor: pointer;
  display: block;
  outline: none;
}
.pagesPagination {
  width: 272px;
}

.breakLabel {
  display: none;
}
.pageName {
  width: 48px;
  height: 48px;
  border: 2px solid #f1f1f1;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  vertical-align: center;
  line-height: 48px;
}
.active {
  background-color: #ffffff;
  color: #423737;
  opacity: 0.7;
}

.nextLink {
  font-size: 20px;
  cursor: pointer;
  outline: none;
  display: block;
  line-height: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  color: #423737;
}
.previousLink {
  font-size: 20px;
  cursor: pointer;
  outline: none;
  display: block;
  line-height: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
  color: #423737;
}
